<td class='id'>{{id}}</td>
<td class='date'>{{formatDate created_at}}</td>
<td class='vendor'>{{vendor_name}}</td>
<td class='status'>{{showOpen status}}</td>
<td class='items number'>{{item_count}}</td>
